---
layout: base.njk
---
<div class="post-single">
  <div class="post-header">
    <div class="post-meta">
      <span class="section-label">Project</span>
      {% if github %}&mdash; <a href="{{ github }}">GitHub</a>{% endif %}
      {% if has_demo %}&mdash; <a href="/{{ slug }}/">Live Demo</a>{% endif %}
      &mdash; <a href="/devlog/{{ slug }}/">Devlog</a>
    </div>
    <h1>{{ title }}</h1>
  </div>
  <div class="post-body">
    {{ content | safe }}
  </div>
</div>
